@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* #region  /**=========== Primary Color =========== */
  --tw-color-primary-100: 238 242 255;
  --tw-color-primary-200: 224 231 255;
  --tw-color-primary-300: 199 210 254;
  --tw-color-primary-400: 165 180 252;
  --tw-color-primary-500: 129 140 248;
  --tw-color-primary-600: 99 102 241;
  --tw-color-primary-700: 79 70 229;
  --tw-color-primary-800: 67 56 202;
  --tw-color-primary-900: 55 48 163;
  --tw-color-primary-950: 49 46 129;
  --tw-color-primary-1000: 30 27 75;
  --color-primary-100: rgb(var(--tw-color-primary-100)); /* #eef2ff */
  --color-primary-200: rgb(var(--tw-color-primary-200)); /* #e0e7ff */
  --color-primary-300: rgb(var(--tw-color-primary-300)); /* #c7d2fe */
  --color-primary-400: rgb(var(--tw-color-primary-400)); /* #a5b4fc */
  --color-primary-500: rgb(var(--tw-color-primary-500)); /* #818cf8 */
  --color-primary-600: rgb(var(--tw-color-primary-600)); /* #6366f1 */
  --color-primary-700: rgb(var(--tw-color-primary-700)); /* #4f46e5 */
  --color-primary-800: rgb(var(--tw-color-primary-800)); /* #4338ca */
  --color-primary-900: rgb(var(--tw-color-primary-900)); /* #3730a3 */
  --color-primary-950: rgb(var(--tw-color-primary-950)); /* #312e81 */
  --color-primary-1000: rgb(var(--tw-color-primary-1000)); /* #1e1b4b */
  /* #endregion  /**======== Primary Color =========== */
}

@layer base {
  body {
    @apply bg-base-1000;
    @apply text-white;
  }
  /* #region  /**=========== Fonts =========== */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100 900;
    font-display: optional;
    src: url('/fonts/inter-var-latin.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
      U+2215, U+FEFF, U+FFFD;
  }
  @font-face {
    font-family: 'OpenSauceOne';
    font-style: normal;
    font-weight: 400;
    font-display: optional;
    src: url('/fonts/OpenSauceOne/OpenSauceOne-Regular.woff2') format('woff2');
  }
  @font-face {
    font-family: 'OpenSauceOne';
    font-style: italic;
    font-weight: 400;
    font-display: optional;
    src: url('/fonts/OpenSauceOne/OpenSauceOne-Italic.woff2') format('woff2');
  }
  @font-face {
    font-family: 'OpenSauceOne';
    font-style: normal;
    font-weight: 600;
    font-display: optional;
    src: url('/fonts/OpenSauceOne/OpenSauceOne-Semibold.woff2') format('woff2');
  }
  @font-face {
    font-family: 'OpenSauceOne';
    font-style: italic;
    font-weight: 600;
    font-display: optional;
    src: url('/fonts/OpenSauceOne/OpenSauceOne-SemiboldItalic.woff2')
      format('woff2');
  }
  @font-face {
    font-family: 'OpenSauceOne';
    font-style: normal;
    font-weight: 700;
    font-display: optional;
    src: url('/fonts/OpenSauceOne/OpenSauceOne-Bold.woff2') format('woff2');
  }
  @font-face {
    font-family: 'OpenSauceOne';
    font-style: italic;
    font-weight: 700;
    font-display: optional;
    src: url('/fonts/OpenSauceOne/OpenSauceOne-BoldItalic.woff2')
      format('woff2');
  }
  /* #endregion  /**======== Fonts =========== */

  .cursor-newtab {
    cursor: url('/images/new-tab-dark.png') 10 10, pointer;
  }

  /* #region  /**=========== Typography =========== */
  .d1 {
    @apply text-5xl font-bold;
  }
  .d2 {
    @apply text-4xl font-bold;
  }
  .h1 {
    @apply text-3xl font-bold;
  }
  .h2 {
    @apply text-2xl font-bold;
  }
  .h3 {
    @apply text-xl font-bold;
  }
  .h4 {
    @apply text-lg font-bold;
  }
  .h5 {
    @apply text-base font-bold;
  }
  .h6 {
    @apply text-sm font-bold;
  }
  .s1 {
    @apply text-lg font-semibold;
  }
  .s2 {
    @apply text-base font-semibold;
  }
  .s3 {
    @apply text-sm font-semibold;
  }
  .s4 {
    @apply text-xs font-semibold;
  }
  .b1 {
    @apply text-lg;
  }
  .b2 {
    @apply text-base;
  }
  .b3 {
    @apply text-sm;
  }
  .c1 {
    @apply text-xs;
  }
  .c2 {
    @apply text-[11px] leading-[14px];
  }
  /* #endregion  /**======== Typography =========== */

  .layout {
    /* 1320px */
    max-width: 82.5rem;
    @apply mx-auto w-11/12;
  }

  .bg-dark a.custom-link {
    @apply border-gray-200 hover:border-gray-200/0;
  }

  /* Class to adjust with sticky footer */
  .min-h-main {
    @apply min-h-[calc(100vh-56px)];
  }
}

@layer utilities {
  .animated-underline {
    background-image: linear-gradient(#33333300, #33333300),
      linear-gradient(
        to right,
        var(--color-primary-400),
        var(--color-primary-500)
      );
    background-size: 100% 2px, 0 2px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
  }
  @media (prefers-reduced-motion: no-preference) {
    .animated-underline {
      transition: 0.3s ease;
      transition-property: background-size, color, background-color,
        border-color;
    }
  }
  .animated-underline:hover,
  .animated-underline:focus-visible {
    background-size: 0 2px, 100% 2px;
  }
}

/* #region  /**=========== Datepicker =========== */
.react-datepicker-wrapper {
  display: block;
  width: 100%;
}

.react-datepicker__navigation.react-datepicker__navigation--previous,
.react-datepicker__navigation.react-datepicker__navigation--next {
  top: 6px;
}

.react-datepicker__header__dropdown.react-datepicker__header__dropdown--select {
  padding: 0 5px;
}

.react-datepicker__header__dropdown {
  margin-top: 0.5rem;
}

.react-datepicker__year-select,
.react-datepicker__month-select {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  padding-left: 0.7rem;
  border-radius: 0.25rem;
}

/* Selected date color */
.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range,
.react-datepicker__day--keyboard-selected,
.react-datepicker__month-text--keyboard-selected,
.react-datepicker__quarter-text--keyboard-selected,
.react-datepicker__year-text--keyboard-selected {
  @apply !bg-primary-500;
  @apply !text-white;
}
/* #endregion  /**======== Datepicker =========== */

/* #region  /**=========== DropzoneInput Border =========== */
/** @see https://kovart.github.io/dashed-border-generator/ */
.dropzone-border-dash {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='8' ry='8' stroke='%23D1D5DBFF' stroke-width='2' stroke-dasharray='7' stroke-dashoffset='2' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 0.5rem;
}
.dropzone-border-dash-error {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='8' ry='8' stroke='%23EF4444FF' stroke-width='2' stroke-dasharray='7' stroke-dashoffset='2' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 0.5rem;
}
/* #endregion  /**======== DropzoneInput Border =========== */

/* #region  /**=========== Scrollbar =========== */
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #f7f7f7;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #7b7b7b;
  opacity: 0.5;
  border-radius: 10px;
}

/* Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: #7b7b7b #f7f7f7;
}
/* #endregion  /**======== Scrollbar =========== */

/* #region  /**=========== Form =========== */
[type='radio']:checked {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='black' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='4'/%3e%3c/svg%3e");
}

[type='checkbox']:checked {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='black' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
}
/* #endregion  /**======== Form =========== */

/* #region  /**=========== Rating Star =========== */
.star-rating {
  height: 20px;
  position: relative;
  width: 100px;
}
.star-rating:before {
  background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTAiIGhlaWdodD0iNTAiIHZpZXdCb3g9IjAgMCA1MCA1MCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE4LjY2MiAxOS40NzkxTDE5LjMwMzkgMTkuNDQ1M0wxOS41Mzk3IDE4Ljg0NzNMMjUgNC45OTk1NEwzMC40NjAzIDE4Ljg0NzNMMzAuNjk2MSAxOS40NDUzTDMxLjMzOCAxOS40NzkxTDQ2LjQ5OTggMjAuMjc3N0wzNC43Mjk1IDI5LjYyOTFMMzQuMjEzNSAzMC4wMzkxTDM0LjM4NjcgMzAuNjc0OUwzOC4yODc5IDQ0Ljk5OThMMjUuNTM0OSAzNi45MjY2TDI1IDM2LjU4OEwyNC40NjUxIDM2LjkyNjZMMTEuNzEyMSA0NC45OTk4TDE1LjYxMzMgMzAuNjc0OUwxNS43ODY1IDMwLjAzOTFMMTUuMjcwNSAyOS42MjkxTDMuNTAwMTkgMjAuMjc3N0wxOC42NjIgMTkuNDc5MVoiIHN0cm9rZT0iI0ZGRTY2RCIgc3Ryb2tlLXdpZHRoPSIyIi8+Cjwvc3ZnPgo=');
  background-repeat: repeat-x;
  background-size: 20px;
  bottom: 0;
  content: '';
  display: block;
  height: 20px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
}
.star-rating > span {
  display: block;
  text-indent: -10000px;
  width: 100px;
  height: 20px;
  position: absolute;
  overflow: hidden;
}
.star-rating > span:before {
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjAiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgNTAgNTAiIGZpbGw9IiNmMWM0MGYiID4gICAgPHBhdGggZD0iTSAyNSAyLjI3MzQzNzUgTCAxOC42MDkzNzUgMTguNDgwNDY5IEwgMC44MTA1NDY4OCAxOS40MTc5NjkgTCAxNC42NDg0MzggMzAuNDEyMTA5IEwgMTAuMDcwMzEyIDQ3LjIyMjY1NiBMIDI1IDM3Ljc3MTQ4NCBMIDM5LjkyOTY4OCA0Ny4yMjI2NTYgTCAzNS4zNTE1NjIgMzAuNDEyMTA5IEwgNDkuMTg5NDUzIDE5LjQxNzk2OSBMIDMxLjM5MDYyNSAxOC40ODA0NjkgTCAyNSAyLjI3MzQzNzUgeiI+PC9wYXRoPjwvc3ZnPg==');
  background-repeat: repeat-x;
  background-size: 20px;
  bottom: 0;
  content: '';
  display: block;
  height: 20px;
  left: 0;
  position: absolute;
  right: 0;
  text-indent: 10000px;
  top: 0;
}
/* #endregion  /**======== Rating Star =========== */
